/* 강좌 개설 css */
#openTitle{
     text-align:center;
 	 height:50px;
 }
 table.openWrite{
         border-collapse: separate;
         border-spacing: 1px;
         text-align: left;
         line-height: 2;
         border-top: 1px solid #ccc;
         margin : 0 auto;
         width:700px;
         cellpadding:"2";
 }
 table.openWrite tr {
         width:100px;     
         padding: 10px;
         font-weight: bold;
         vertical-align: top;
         border-bottom: 1px solid #ccc;
 }
 table.openWrite td {
         font-size: 15px;
          width: 200px;
          padding: 10px;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
 }
 
 table.openWrite select {
         width: 300px;
         padding: 8px;
         border: 1px solid #ccc;
         border-radius: 4px;
         resize: vertical;
 }
 #openCancleBtn, #openEnrollBtn{
    /* background-color: #4CAF50; */
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    margin-: 0px auto; 
    width: 15%;
    align: center;
  }