/* 강좌스터디 시청 */
#intro{
    padding-top:100px;
    padding-left:180px;
    color:grey;
    font-size: 20px;
    font-weight: bolder;
  }
/* 회색전체테두리 */
  .watch{
    text-align: center;
    width:1000px;
    height:auto;
    margin: 0px 50px 50px 180px;
    background-color:#E7E7E7;
    border-radius: 40px;
    color:dimgray
  }
  /* 영상 */
  .video{
    display: inline-block; 
    margin-top: 50px;
   }
   /* 영상소개 */
   #video-inform{
    display: block;
    font-size: 25px;
    margin: 50px 100px 100px 100px;
    line-height: 40px;
   }
  .basket{
    font-size: 20px;
    word-spacing: 10px;
    background-color: red;
    color:white;
   width:100%;height:50px;
   border-radius: 20px;
  }
  #list{
    margin-left:100px;
    font-size:30px;
  }
  .page{
    margin-left:600px;
    margin-top:50px;
  }
  .container{
  margin-bottom:0px;
   margin-top: 50px;
   text-align: right;!important;
 } 
 
.list-group-item{
	text-align:center;
	font-size:20px;


 }