#td1{
	font-size:15px;
	text-align:right;
	trasform:translate(200%,0);
	font-weight:bold;
}

#tr1{
	transform:translate(80%,0);
}

#pwh2{
	margin-top:30px;
	text-align:center;
	color:dimgray;
	margin-bottom:0px;
	font-weight:bold;
	font-size:30px;
}

#changePw{
	width: 350px;
    height: 30px;
    font-size: 20px;
    margin-top:10px;
    
}

#changePw2{
	width: 350px;
    height: 30px;
    font-size: 20px;
	margin-top:10px;
}

#pwSubmit{
	font-size:15px;
	transform: translate(370%, 0);
	background-color:#368AFF;
	color:white;
	border:none;
	width:150px;
	height:40px;
}

#checkPw{
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-size: 15px;
    width:350px;
    height:40px;
    transform: translate(132%, 0);
    margin-bottom:5px;
    margin-top:10px;
}

#checkPw2{
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 15px;
    width:350px;
    height:40px;
    transform: translate(132%, 0);
    margin-bottom:5px;
    margin-top:10px;
}

