#reviewEntry{
    font-family: Sunflower;
    width: 700px;
    height: 300px;
    /* background-image:url(/images/latter2.jpg);
    background-repeat: no-repeat; */
    display: block; 
    margin: 0px auto; 
  }
 #selectReview{
    text-align: center;
  }

  #reviewTitle{
    font-size:50px;
    text-shadow: 1px 1px 2px white; 
    color: black; 
    padding-top: 107px; 
    text-align: center;
  }
  #rev_WriteBtn{
    /* background-color: #4CAF50; */
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    margin: 0px auto; 
    width: 20%;
  }

  #reviewField{
    width: 700px;
   /*  height: auto;*/ 
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Sunflower;
    }
  
/* 후기 작성 화면 CSS */
#revWTitle{
	text-align:center;
	height:50px;
}
table.revWrite{
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 3;
        border-top: 1px solid #ccc;
        margin : 0 auto;
        width:700px;
        cellpadding:"2";
}
table.revWrite tr {
        width: 100px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
}
table.revWrite td {
         font-size: 15px;
         width: 100px;
         padding: 10px;
         vertical-align: top;
         border-bottom: 1px solid #ccc;
}
table.revWrite select {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
}
div#revWBtn{
	margin-left:550px;
}
#revWCancelBtn, #revWenrollBtn{
    /* background-color: #4CAF50; */
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    margin-: 0px auto; 
    width: 20%;
    align: center;
  }
#revUpdate,#revDelete{
	 color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    margin-: 0px auto; 
    width: 10%;
    align: center;
}
  #star_grade a{
    text-decoration: none;
    color: gray;
  }
  #star_grade a.on{
    color: red;
  }
