
   /* 캐러셀 */
     .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 1400px;
    height:300px;
    z-index: 1;
  }  
 
/* .carousel-inner > .item > img{
    width:1200px;
    height:450px;
  }  
 */
   #myCarousel{
    margin-left:0px;
    margin-top:0px;
    /* margin-bottom: 0px; */
    height: 420px;
    width:100%;
  }
  .carousel-inner{
    margin-bottom: 0px;
  }

  /* 시계 */
  #clock{
    background-color: black;
    color:white;
    font-size:60px;
    text-align: center;
    word-spacing: 10px;
    font-weight: bolder;
    margin-bottom: 0px;
  
  }
  /* 후기 */
  /* .container{
    margin-top:30px;
    margin-bottom:30px;
  } */
  
  #hr{
    font-family:"Nanum Myeongjo";
    padding-bottom:40px;
    padding-top:37px;
    background-color:#ff9900;
    color:black;
    text-align: center;
    font-size:45px;
    letter-spacing: 10px;
    font-weight: bold;
    position:relative;
  }
  .container{
    margin-top:30px;
  }
  /* 실시간게시판 */
  #hr2{
    padding-bottom:40px;
    padding-top:40px;
    border-bottom: 1px black solid;
    color:tomato;
    text-align: center;
    font-size:50px;
    letter-spacing: 10px;
  }
  
  /* 롤링 */
  .slide ul li{
    list-style: none;
  }
    .rollingwrap{
      margin-bottom:100px;


    }
        .rolling{
          
              padding-top:70px;
              height:500px;
              width:600px;
              position:absolute;
              left:10%;
          }
  
          .ticker{
             
              overflow:hidden;
              margin:0;
              padding:0; 
           
          }
      
          .ticker ul li{
              height:200px;
              list-style:none;

           
              
          }
  
        .rollingimg{
          float:right;
          margin :90px 100px;
          list-style:none;

          
        }
  
        .container{
          margin-bottom: 100px;
        }
  
      
  /* sdfdfsd */
  
  .slide{margin-left:800px; margin-top:100px; width: 400px; height:400px;overflow:hidden; display:inline-block; } 
      .slide ul{width:calc(100% * 8); display:flex;animation:slide 5s infinite;} 
      /* slide를 8초동안 진행하며 무한반복 함 */
      .slide li{width:calc(100% / 8);height:300px;}
     /* .slide li:nth-child(1){background:#ffa;}
      .slide li:nth-child(2){background:#faa;}
      .slide li:nth-child(3){background:#afa;}
      .slide li:nth-child(4){background:#aaf;} */
      @keyframes slide {
        0% {margin-left:0;} /* 0 ~ 10  : 정지 */
        10% {margin-left:0;} /* 10 ~ 25 : 변이 */
        25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
        35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
        50% {margin-left:-200%;}
        60% {margin-left:-200%;}
        75% {margin-left:-300%;}
        85% {margin-left:-300%;}
        100% {margin-left:0;}
      }
  
      /* 강좌 배치 */
      .parent{
  
      width: 80%;
      height: 200px;
      margin-top:100px;
      margin-left:100px;
      margin-bottom: 80px;
      display: flex;
  }
  
  .first {
      border: 1px solid red;
      flex:1;
      width:30%;
      box-sizing: border-box;
  }
  
  .second{
      border: 1px solid green;
      flex:1;
      margin: 0px 5%;
      width:30%;
      box-sizing: border-box;
  }
  
  .third{
      border: 1px solid blue;
      flex:1;
      width:30%;
      box-sizing: border-box;
  }
  
  #hr3{
    background-color: black;
    color:yellow;
    font-family: "Nanum Myeongjo";
    width:100%;
    height:1000px;
    text-align: left;
    position: relative;
    font-weight: bolder;
  }
  
  
  #hr4{
    padding-top:50px;
    background-color: gray;
    color:black;
    font-size: 15px;
    font-family: "Nanum Myeongjo";
    width:100%;
    height:330px;
    text-align:center;
  
  }
  
  .container1{
    margin-left:600px;
    margin-bottom: 50px;
    font-size:30px;
  }